
.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px; 
  width: 100%;
}

.statistics h2 {
  font-size: 24px;
  color: #333; 
  margin-bottom: 20px;
  text-align: center;
}

.statistics p {
  font-size: 18px;
  color: #555; 
  margin: 10px 0;
  text-align: center;
}

.navigation {
  display: flex;
  gap: 10px; 
  margin-top: 20px;
}


.navigation button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation button:hover {
  background-color: #0056b3;
}


.navigation button a {
  color: white;
  text-decoration: none;
}

.navigation button a:hover {
  text-decoration: underline;
}
